<p style="color: green"><%= notice %></p>

<%= render @entity_group %>

<div>
  <%= link_to "Edit this entity group", edit_entity_group_path(@entity_group) %> |
  <%= link_to "Back to entity groups", entity_groups_path %>

  <%= button_to "Destroy this entity group", @entity_group, method: :delete %>
</div>
