<%= form_with(model: entity) do |f| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="field">
      <%= f.text_field :name, placeholder: t("ent_name"), autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= f.text_field :amount, placeholder: t("ent_amount"), autocomplete: "amount" %>
    </div>
    <div class="field">
      <%= f.collection_select(:group_id, Group.all, :id, :name, {prompt: "Please Select Groups for this Entity:"}, {multiple: true}) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('save') %>
  </div>
<% end %>
