<%= form_with(model: group) do |f| %>
  <div class="fields">
  <% if group.errors.any? %>
    <div class="alert">
      <h5><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h5>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.text_field :name, placeholder: t("grp_name"), autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= f.select :icon, options_for_select(GroupsController::ICONS), :prompt => t('select_icon') %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('save'), class: "active" %>
  </div>
<% end %>
