<div id="<%= dom_id group %>" class="grp box">
  <%= image_tag group.icon || 'icon', style: 'height:64px;width:64px', class: 'grp-icon' %>
  <div class="grp-text wrapper">
    <div class="grp-text txt-top">
      <h5><%= group.name %></h5>
      <h4><%= 'price' %></h4>
    </div>
    <hr>
    <div class="grp-text txt-bottom">
      <small><%= group.updated_at.strftime("%d-%m-%Y") %></small>
    </div>
  </div>
</div>
