<section>
  <div class="group box">
    <h2>
      <%= image_tag @group.icon || 'icon', style: 'height:64px;width:64px', class: 'grp-icon' %>
      <%= @group.name %>
    </h2>
    <hr>
    <%= render @transactions %>
    </div>
  </div>

  <div>
    <%= link_to "Edit this group", edit_group_path(@group) %> |
    <%= link_to "Back to groups", groups_path %>

    <%= button_to "Destroy this group", @group, method: :delete %>
  </div>
</section>
